.users-list {
    gap: 10px;
    .add-user {
        background-color: $clr3;
        border: $border;
        padding: 30px;
        h1 {
            text-transform: uppercase;
        }
        .add-user-btn {
            width: 80px;
            height: 80px;
        }
    }
}