* {
    box-sizing: border-box;
}

html {
    font-family: robotoLight, sans-serif;
    line-height: 2;
    color: $clr5;
}

body {
    margin: 0;
    padding: 0;
    background-color: $clr2;
    height: 100vh;
}

img {
    width: 100%;
}

a{
    font-family: robotoBold, sans-serif;
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}