@font-face {
    font-family: oswald;
    src: url(../../../fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: oswaldBold;
    src: url(../../../fonts/Oswald-Bold.ttf);
}
@font-face {
    font-family: oswaldLight;
    src: url(../../../fonts/Oswald-Light.ttf);
}
