// Colors
$clr1: #f2f2ee;
$clr2: #e7e7e7;
$clr3: #dadadb;
$clr4: #8c8c8c;
$clr5: #393a3f;

$border: 1px solid lighten($clr5, 50%);

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;